body{
    background-color:#262424;
    font-weight: 100;
    font: 150% monospace;
    }
  .string{
  color: #CB1717;
  }
  .float{
  color: #C61BF0;
  }
  .operator{
  color: #FFFF99;
  font-weight: 900;
  }
  .variable{
  color: #4AAB84;
  }
  .delimiter{
  color: #86e7ff;
  }
  .comment{
  color: #486633;
  }
  .undefinded{
  color:#9E9E9E;
  }
  .reserved{
  color: #fe53fb;
  }
  .int{
  color: #30F01B;
  }